<p id="notice"><%= notice %></p>

<form>

  <div class="form-group">
    <%= label_tag nil, @moeda.class.human_attribute_name(:description) %>
    <%= text_field_tag nil, @moeda.description, class:"form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @moeda.class.human_attribute_name(:acronym) %>
    <%= text_field_tag nil, @moeda.acronym, class:"form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @moeda.class.human_attribute_name(:url_image) %>
    <%= text_field_tag nil,@moeda.url_image , class:"form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= label_tag nil, 'Mineração'%>
    <%= text_field_tag nil, 'Decrição', class:"form-control", disabled: true %>
  </div>

</form>

<%= link_to t('links.edit'), edit_moeda_path(@moeda), class:"btn btn-primary" %> |
<%= link_to t('links.back'), moeda_path, class:"btn btn-primary" %>